/* You can add global styles to this file, and also import other style files */
html,body{
    height:100%;
    margin:0;
    padding:0;
    // background: #f1f1f1;
}



.main-image{
    margin-top:20px;
    // position: relative;
    background: url(./assets/home/test1.jpg) no-repeat center;
    background-size: cover;
    height: 277px;
    // overflow: hidden;
    // width: 414px;
    // height: 277px;
    // object-fit: cover;
}

.center-image{
    margin-top:20px;
    position: relative;
    background: url(./assets/home/vid1.png) no-repeat center;
    background-size: cover;
    height: 600px;
    overflow: hidden;
}
.inside-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-weight: 700;

}
.inside-text{
position: relative;
text-align: center;
top: 80%;
}

.TerrainArt-Logo-39cropped-Copy {
    width: 140px;
    height: 24px;
    margin: 0 67.5px 41px 104px;
  }
 .spacer-icon{
    margin-top: 10% ;
    margin-bottom: 5%;
  }
  .font1 {
    font-family: Arial, Helvetica, sans-serif;
    // font-size: 34px;
  }
  
  .font2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #808080;
  }
  .font3 {
    font-family: PassengerSerif;
    font-size: 1.1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #808080;
  }




.img-vid {
    display: block;
}

  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  



.Art-conservation-and {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    // font-family: NHaasGroteskTXPro-55Rg;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .lorem{ 
    font-family: NHaasGroteskTXPro-55Rg;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .hl {
    border-left: 1px solid grey;
    height: 63px;
    border-bottom: none;
    width: 0px;
    margin-bottom: 0px;
  }

@media only screen and (max-width: 600px) {
    .mb-10{
        margin-bottom: 30px;
    }
    .hl {
        border-bottom: 2px solid #ccc8c8;
        width: 63px;
        border-left: none;
    height: 0px;
      }
      .font3 {
          text-align: center;
        }
  }
  .centerd {
    margin: auto;
    width: 20%;
    padding: 10px;}

    .font4{
        // width: 365px;
        // height: 38px;
        // margin: 31px 0;
        font-family: PassengerSerif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0l;
        letter-spacing: normal;
        text-align: left;
        color: #808080;
      }